<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>{% block head_title %} Blog CFE {% endblock head_title %}</title>
    <style>
        {% block style %}
        {% endblock style %}
    </style>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>