{% extends 'blog/base.html' %}
{% block head_title %}
    {{ post.title }}
{% endblock head_title %}
{% include 'blog/message_display.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-responsive" alt="Blog Post image">
                {% endif %}
                <h1>
                    <a href="{% url 'blog:post_detail' id=post.id %}">
                        {{ post.title }}
                        <small>
                            {{ post.updated|timesince }} ago
                        </small>
                    </a>
                </h1>
                <p>
                   {{ post.post_content }}
                </p>
            </div>
        </div>
    </div>
{% endblock content %}


