<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post List</title>
</head>
<body>
<h1>
   Post List
</h1>
{% for post in posts_list %}
    <h3>
        <a href="{% url 'blog:post_detail' id=post.id %}">
           {{ post.title }}
        </a>
    </h3>

    <br>
    {{ post.id }}
    <br>
    {{ post.post_content }}
    <br>
    {{ post.updated }}
    <br>
    {{ post.timestamp }}
    <br>
    <br>
    <a href="{% url 'blog:post_update' id=post.id %}">
        <button>
            Update
        </button>
    </a>
    <hr>
{% endfor %}

</body>
</html>